<ng-container *ngIf="users$ | async as users; else loading">
  <section tuiCardLarge *ngIf="users.length; else empty">
    <table tuiTable [size]="size" [style.width.%]="100">
      <thead>
        <tr>
          <th tuiTh>User</th>
          <th tuiTh [style.width.rem]="3">Actions</th>
        </tr>
      </thead>
      <tbody tuiTbody>
        <tr *ngFor="let item of users">
          <td tuiTd>
            <div [tuiCell]="size">
              <tui-avatar
                [src]="item.avatar ? 'data:image/jpeg;base64,' + item.avatar : (item.name | tuiInitials)"
                [style.background]="item.name | tuiAutoColor"
              />
              <span tuiTitle>
                {{ item.name }}
                <span tuiSubtitle>{{ item.email }}</span>
              </span>
            </div>
          </td>
          <td tuiTd>
            <div
              *ngIf="canDeleteUsers() && !isCurrentUser(item.id)"
              [tuiDropdown]="dropdown"
              tuiDropdownOpen
              tuiDropdownAlign="right"
            >
              <button
                appearance="secondary"
                iconStart="@tui.ellipsis"
                size="s"
                tuiIconButton
                type="button"
              ></button>
              <ng-template #dropdown>
                <tui-data-list>
                  <button tuiOption (click)="removeUser(item.id, item.name)">
                    <tui-icon icon="@tui.trash" [style.height.rem]="1"></tui-icon>
                    Remove
                  </button>
                </tui-data-list>
              </ng-template>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </section>

  <ng-template #empty>
    <p
      class="tui-text_body-l"
      style="text-align: center; padding: 2rem 0; color: var(--tui-text-secondary)"
    >
      {{ emptyMessage }}
    </p>
  </ng-template>
</ng-container>

<ng-template #loading>
  <section tuiCardLarge>
    <table tuiTable [size]="size" [style.width.%]="100">
      <thead>
        <tr>
          <th tuiTh>User</th>
          <th tuiTh [style.width.rem]="3">Actions</th>
        </tr>
      </thead>
      <tbody tuiTbody>
        <tr *ngFor="let _ of [1, 2, 3]">
          <td tuiTd>
            <div [tuiCell]="size">
              <tui-avatar src="" [tuiSkeleton]="true" />
              <span tuiTitle [tuiSkeleton]="true"
                >Member name<span tuiSubtitle [tuiSkeleton]="true">member@example.com</span></span
              >
            </div>
          </td>
          <td tuiTd><span [tuiSkeleton]="true">...</span></td>
        </tr>
      </tbody>
    </table>
  </section>
</ng-template>
