:host {
  display: block;
}

[tuiCardLarge] {
  overflow: hidden;
  padding: 0;
}

[tuiTh],
[tuiTd] {
  border-inline-start: none;
  border-inline-end: none;
}

thead [tuiTh] {
  border-block-start: none;
}

tr:last-child [tuiTd] {
  border-block-end: none;
}

[tuiTable][data-size='s'] [tuiTitle] {
  flex-direction: row;
  gap: 0.375rem;
}

button[tuiOption] {
  display: flex;
  align-items: center;
  justify-content: flex-start !important;
  gap: 0.75rem;
}
