# Infra volumes
# /infra/pgdata (removed, using named volumes)
# /infra/minio-data (removed, using named volumes)

# Environment files
.env

# Binaries
bin/

# Google Cloud SDK (local install, not for VCS)
google-cloud-sdk/

# Terraform
**/.terraform/

# Log files
log*.txt
