# Infra volumes
# /infra/pgdata (removed, using named volumes)
# /infra/minio-data (removed, using named volumes)

# IDE / Editor
.idea/
.vscode/

# Environment files
.env

# Binaries
bin/
api

# IDE
.idea/

# Local dev config
web/dashboard/proxy.conf.json

# Tools and temporary files
tools/
tmp/
google-cloud-sdk/

# Terraform
**/.terraform/

# Log files
log*.txt
