{{define "notification"}} {{template "layout.start" .}}
<h1>{{.Copy.Title}}</h1>
<p class="intro">{{richText .Copy.Intro}}</p>
{{if .Copy.Note}}<p class="note">{{richText .Copy.Note}}</p>{{end}}
{{if .Action}}
<table
  role="presentation"
  class="action-row"
  width="100%"
  cellpadding="0"
  cellspacing="0"
>
  <tr>
    <td class="action-cell" align="left">
      <a class="button" href="{{.Action.URL}}">{{.Copy.Button}}</a>
    </td>
  </tr>
</table>
{{end}} {{if .Copy.FooterNote}}
<p class="footer-note">{{.Copy.FooterNote}}</p>
{{end}} {{template "layout.end" .}} {{end}}
