<div class="accept-invite-container">
  <div class="group-info">
    <tui-avatar
      [src]="
        info.group_avatar
          ? 'data:image/png;base64,' + info.group_avatar
          : (info.group_name | tuiInitials)
      "
      [style.background]="info.group_name | tuiAutoColor"
      size="xl"
    />
    <p
      class="tui-text_body-l"
      [innerHTML]="'groups.invitationDialog.invited' | translate: { group: info.group_name }"
    ></p>
  </div>

  <div class="form-actions">
    <button tuiButton appearance="secondary" (click)="onDecline()" [disabled]="isSubmitting">
      {{ 'common.actions.decline' | translate }}
    </button>
    <button tuiButton (click)="onAccept()" [disabled]="isSubmitting">
      {{ 'groups.invitationDialog.joinGroup' | translate }}
    </button>
  </div>
</div>
