:host {
  display: block;
}

.content {
  display: flex;
  block-size: 20rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

tui-files {
  margin-top: 1rem;
}
