<app-page-container>
  <div class="preferences-page">
    <app-section-header title="preferences.title"></app-section-header>

    <section class="content">
      <nav
        tuiTabs
        vertical="left"
        class="tabs-nav tabs-nav--desktop"
        [activeItemIndex]="activeTabIndex()"
        (activeItemIndexChange)="onTabIndexChange($event)"
      >
        <button tuiTab type="button">{{ 'preferences.personalData' | translate }}</button>
        <button tuiTab type="button">{{ 'preferences.emailPreferences' | translate }}</button>
      </nav>

      <nav
        tuiTabs
        size="m"
        class="tabs-nav tabs-nav--mobile"
        [underline]="true"
        [activeItemIndex]="activeTabIndex()"
        (activeItemIndexChange)="onTabIndexChange($event)"
      >
        <button tuiTab type="button">{{ 'preferences.personalData' | translate }}</button>
        <button tuiTab type="button">{{ 'preferences.emailPreferences' | translate }}</button>
      </nav>

      <div class="tab-content">
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="preferences-form">
          @if (activeTabIndex() === 0) {
            <div class="form-field">
              <tui-textfield>
                <label tuiLabel>{{ 'preferences.firstName' | translate }}</label>
                <input formControlName="first_name" tuiTextfield type="text" />
              </tui-textfield>
            </div>

            <div class="form-field">
              <tui-textfield>
                <label tuiLabel>{{ 'preferences.lastName' | translate }}</label>
                <input formControlName="last_name" tuiTextfield type="text" />
              </tui-textfield>
            </div>

            <div class="form-field">
              <tui-textfield tuiChevron [stringify]="stringifyLanguage">
                <label tuiLabel>{{ 'common.fields.language' | translate }}</label>
                <input tuiSelect formControlName="language" />
                <tui-data-list-wrapper
                  *tuiTextfieldDropdown
                  new
                  [items]="languages"
                  [itemContent]="languageContent"
                ></tui-data-list-wrapper>
              </tui-textfield>
              <ng-template #languageContent let-data>
                {{ data.nameKey | translate }}
              </ng-template>
            </div>

            <div class="form-field">
              <tui-textfield tuiChevron [stringify]="timezoneStringify">
                <label tuiLabel>{{ 'common.fields.timezone' | translate }}</label>
                <input
                  tuiComboBox
                  [formControl]="form.controls.timezone"
                  (input)="onSearch($event)"
                />
                <tui-data-list-wrapper
                  *tuiTextfieldDropdown
                  new
                  [items]="filteredTimezones()"
                  [itemContent]="tzContent"
                ></tui-data-list-wrapper>
              </tui-textfield>
              <ng-template #tzContent let-tz>
                {{ timezoneStringify(tz) }}
              </ng-template>
            </div>

            <app-avatar-selector
              [initialAvatar]="getInitialAvatar()"
              [disabled]="isSubmitting"
              (avatarChange)="onAvatarChange($event)"
            ></app-avatar-selector>
          }

          @if (activeTabIndex() === 1) {
            <div formGroupName="email_preferences" class="email-preferences">
              <label tuiLabel class="email-option email-option--primary">
                <input tuiCheckbox type="checkbox" formControlName="notifications_enabled" />
                {{ 'preferences.email.all' | translate }}
              </label>

              <div class="email-option-grid">
                @if (canReceiveAssetUploadEmails()) {
                  <label tuiLabel class="email-option">
                    <input tuiCheckbox type="checkbox" formControlName="asset_uploads_enabled" />
                    {{ 'preferences.email.newVideos' | translate }}
                  </label>
                }

                @if (canReceiveAssetReviewEmails()) {
                  <label tuiLabel class="email-option">
                    <input tuiCheckbox type="checkbox" formControlName="asset_reviews_enabled" />
                    {{ 'preferences.email.reviewedVideos' | translate }}
                  </label>
                }

                @if (canReceiveInvitationEmails()) {
                  <label tuiLabel class="email-option">
                    <input
                      tuiCheckbox
                      type="checkbox"
                      formControlName="invitation_updates_enabled"
                    />
                    {{ 'preferences.email.invitationActivity' | translate }}
                  </label>
                }

                <label tuiLabel class="email-option">
                  <input
                    tuiCheckbox
                    type="checkbox"
                    formControlName="group_membership_updates_enabled"
                  />
                  {{ 'preferences.email.groupMembership' | translate }}
                </label>

                @if (canReceiveCoachingEmails()) {
                  <label tuiLabel class="email-option">
                    <input
                      tuiCheckbox
                      type="checkbox"
                      formControlName="coaching_booking_updates_enabled"
                    />
                    {{ 'preferences.email.coachingBookings' | translate }}
                  </label>

                  <label tuiLabel class="email-option">
                    <input
                      tuiCheckbox
                      type="checkbox"
                      formControlName="coaching_reminders_enabled"
                    />
                    {{ 'preferences.email.coachingReminders' | translate }}
                  </label>
                }
              </div>
            </div>
          }

          <div class="form-actions">
            <button tuiButton type="submit" [disabled]="isSaveDisabled">
              {{ 'common.actions.save' | translate }}
            </button>
          </div>
        </form>
      </div>
    </section>
  </div>
</app-page-container>
