<app-page-container>
  <div class="preferences-page">
    <app-section-header title="Preferences"></app-section-header>

    <section class="content">
      <nav
        tuiTabs
        vertical="left"
        class="tabs-nav"
        [activeItemIndex]="activeTabIndex()"
        (activeItemIndexChange)="onTabIndexChange($event)"
      >
        <button tuiTab type="button">Personal data</button>
        <button tuiTab type="button">Email preferences</button>
      </nav>

      <div class="tab-content">
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="preferences-form">
          @if (activeTabIndex() === 0) {
            <div class="form-field">
              <tui-textfield>
                <label tuiLabel>First Name</label>
                <input formControlName="first_name" tuiTextfield type="text" />
              </tui-textfield>
            </div>

            <div class="form-field">
              <tui-textfield>
                <label tuiLabel>Last Name</label>
                <input formControlName="last_name" tuiTextfield type="text" />
              </tui-textfield>
            </div>

            <div class="form-field">
              <tui-textfield tuiChevron [stringify]="stringifyLanguage">
                <label tuiLabel>Language</label>
                <input tuiSelect formControlName="language" />
                <tui-data-list-wrapper
                  *tuiTextfieldDropdown
                  new
                  [items]="languages"
                  [itemContent]="languageContent"
                ></tui-data-list-wrapper>
              </tui-textfield>
              <ng-template #languageContent let-data>
                {{ data.name }}
              </ng-template>
            </div>

            <div class="form-field">
              <tui-textfield tuiChevron [stringify]="timezoneStringify">
                <label tuiLabel>Timezone</label>
                <input
                  tuiComboBox
                  [formControl]="form.controls.timezone"
                  (input)="onSearch($event)"
                />
                <tui-data-list-wrapper
                  *tuiTextfieldDropdown
                  new
                  [items]="filteredTimezones()"
                  [itemContent]="tzContent"
                ></tui-data-list-wrapper>
              </tui-textfield>
              <ng-template #tzContent let-tz>
                {{ timezoneStringify(tz) }}
              </ng-template>
            </div>

            <app-avatar-selector
              [initialAvatar]="getInitialAvatar()"
              [disabled]="isSubmitting"
              (avatarChange)="onAvatarChange($event)"
            ></app-avatar-selector>
          }

          @if (activeTabIndex() === 1) {
            <div formGroupName="email_preferences" class="email-preferences">
              <label tuiLabel class="email-option email-option--primary">
                <input tuiCheckbox type="checkbox" formControlName="notifications_enabled" />
                All notification emails
              </label>

              <div class="email-option-grid">
                @if (canReceiveAssetUploadEmails()) {
                  <label tuiLabel class="email-option">
                    <input tuiCheckbox type="checkbox" formControlName="asset_uploads_enabled" />
                    New videos uploaded to groups you own
                  </label>
                }

                @if (canReceiveAssetReviewEmails()) {
                  <label tuiLabel class="email-option">
                    <input tuiCheckbox type="checkbox" formControlName="asset_reviews_enabled" />
                    Reviewed videos
                  </label>
                }

                @if (canReceiveInvitationEmails()) {
                  <label tuiLabel class="email-option">
                    <input
                      tuiCheckbox
                      type="checkbox"
                      formControlName="invitation_updates_enabled"
                    />
                    Invitation activity
                  </label>
                }

                <label tuiLabel class="email-option">
                  <input
                    tuiCheckbox
                    type="checkbox"
                    formControlName="group_membership_updates_enabled"
                  />
                  Group membership updates
                </label>

                @if (canReceiveCoachingEmails()) {
                  <label tuiLabel class="email-option">
                    <input
                      tuiCheckbox
                      type="checkbox"
                      formControlName="coaching_booking_updates_enabled"
                    />
                    Coaching bookings and cancellations
                  </label>

                  <label tuiLabel class="email-option">
                    <input
                      tuiCheckbox
                      type="checkbox"
                      formControlName="coaching_reminders_enabled"
                    />
                    Coaching reminders
                  </label>
                }
              </div>
            </div>
          }

          <div class="form-actions">
            <button tuiButton type="submit" [disabled]="isSaveDisabled">Save</button>
          </div>
        </form>
      </div>
    </section>
  </div>
</app-page-container>
