.page-container {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.desktop-title {
  display: none;
  margin: 0;

  @media (min-width: 64em) {
    display: block;
  }
}

.mobile-title {
  display: block;

  @media (min-width: 64em) {
    display: none;
  }
}

.title {
  margin: 0 0 1rem;
}

.content-body {
  display: flex;
  flex-direction: column-reverse;
  gap: 1.5rem;
}

@media (min-width: 64em) {
  .content-body {
    flex-direction: column;
  }
}

.player-wrapper {
  max-width: 100%;
  aspect-ratio: 16/9;
  background: black;
  border-radius: var(--tui-radius-l);
  overflow: hidden;
  margin-bottom: 1.5rem;

  mux-player {
    width: 100%;
    height: 100%;
  }
}

button[tuiOption] {
  display: flex;
  align-items: center;
  justify-content: flex-start !important;
  gap: 0.75rem;
}
