:host {
  display: block;
}

.list-title {
  margin-bottom: 1.5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  gap: 1.5rem;
  width: 100%;
}

.add-tile {
  display: flex;
  gap: 1rem;
  cursor: pointer;
  aspect-ratio: 1;
  width: 100%;
  min-height: 175px;

  transition: transform 0.2s;

  &:hover {
    transform: translateY(-2px);
  }
}

.create-tile {
  display: flex;
  gap: 1rem;
  cursor: pointer;
  aspect-ratio: 1;
  width: 100%;
  min-height: 175px;

  transition: transform 0.2s;

  &:hover {
    transform: translateY(-2px);
  }
}

.plus {
  background: rgb(66, 139, 250);
  color: #fff;
}

.group-tile {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 1rem;
  aspect-ratio: 1;
  width: 100%;
  min-height: 175px;
  text-decoration: none;
  overflow: hidden;
  background-color: #fff;
  cursor: pointer;

  transition: transform 0.2s;

  &:hover {
    transform: translateY(-2px);
  }

  .group-avatar {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    width: 6rem;
    height: 6rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    pointer-events: none;
    border-radius: 50%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
}
